.section1{
    width: 100%;
    background: #02050a;
}
.section1Con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 30px;
    padding: 50px 0px;
    color: white;
    width: 100%;

}
.section1Con h5{
    color: #55e6a5;
    font-size: 20px;
}
.section1Con h2{
    font-size: 38px;
    width: 650px;
    text-align: center;
    margin-bottom: 30px;
}
.section1Cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
}
.section1Card{
    border: 1px solid gray;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}
.section1Card svg{
    margin-top: -60px;
}

@media only screen and (max-width: 1367px) {
   .section1Cards{
    flex-direction: column;
    
   }

   .section1 .container{
    width: 700px;
   }
    }

@media only screen and (max-width: 820px) {
    .section1Cards{
        flex-direction: column;
    }
    .section1Con h2{
        font-size: 25px;
        width: 70%;
    }

    .section1 .container{
        width: 300px;
       }
  }